<div id="mmm-property-managed">
  <label>Property Managed</label>
  {{#if noBuildingsWithActions}}
    Great! Nothing to do!
  {{else}}
    {{#each buildings}}
      {{#if hasActions}}
        <div class="building">
          <header class="module_header bright">{{name}}</header>
          {{#if urgentActions}}
            <h4>Urgent Actions</h4>
            <table class="small">
              {{#each urgentActions}}
                <tr class="normal"><td class="action-name bright">{{name}}</td><td class="action-message">{{message}}</td></li>
              {{/each}}
            </table>
          {{/if}}
          {{#if upcomingActions}}
            <h4>Upcoming Actions</h4>
            <table class="small">
              {{#each upcomingActions}}
                <tr class="normal"><td class="action-name bright">{{name}}</td><td class="action-message">{{message}}</td></li>
              {{/each}}
            </table>
          {{/if}}
        </div>
      {{/if}}
    {{/each}}
  {{/if}}
</div>
